@font-face {
    font-family: "Spartan-Regular";
    src: url(./fonts/Spartan/Spartan-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Spartan-Bold";
    src: url(./fonts/Spartan/Spartan-Bold.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Spartan-ExtraBold";
    src: url(./fonts/Spartan/Spartan-ExtraBold.ttf);
    font-style: normal;
    font-weight: 900;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Spartan-Bold";
}

.wrap {
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    .wrap {
        width: 100%;
        height: 100%;
        padding-left: 19%;
        padding-right: 19%;
        nav {
            width: 50%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            ul {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                list-style-type: none;
                li {
                    margin: 0;
                    a {
                        display: block;
                        color: black;
                        font-size: 0.66em;
                        letter-spacing: -1px;
                    }
                    &:hover a {
                        color: #f8db14;
                    }
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    .wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
        section {
            width: 100%;
            height: auto;
            position: relative;
            img {
                max-width: 100%;
                height: auto;
                display: block;
            }
            .container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                padding: 0 19% 0 19%;
                .arrow {
                    width: 50px;
                    height: 50px;
                    background-repeat: no-repeat;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    border: 2px solid white;
                    cursor: pointer;
                }
                #left {
                    top: 50%;
                    transform: translateY(-50%);
                    left: 2%;
                }
                #right {
                    top: 50%;
                    transform: translateY(-50%);
                    right: 2%;
                }
                #down {
                    flex-direction: column;
                    bottom: 5%;
                    left: 50%;
                    border: initial;
                    width: auto;
                    transform: translateX(-50%);
                    h5 {
                        color: white;
                        font-family: "Spartan-Bold";
                        text-transform: uppercase;
                        font-size: 0.7em;
                        margin-bottom: 15px;
                    }
                }
                .wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    position: relative;
                    width: 100%;
                    h1 {
                        font-family: "Spartan-ExtraBold";
                        text-transform: uppercase;
                        line-height: 60px;
                        font-size: 2.37em;
                        color: white;
                        span {
                            color: #d8d8d8;
                            font-size: 0.45em;
                            line-height: initial;
                        }
                    }
                    .buttons {
                        margin-top: 20px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        height: auto;
                        a {
                            padding: 15px;
                            font-size: 0.8em;
                        }
                        .button1 {
                            width: 200px;
                            height: 50px;
                            background-color: #f8db14;
                            margin-right: 15px;
                        }
                        .button2 {
                            width: 250px;
                            height: 50px;
                            background-color: black;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}