@font-face {
  font-family: "Spartan-Regular";
  src: url(./fonts/Spartan/Spartan-Regular.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Spartan-Bold";
  src: url(./fonts/Spartan/Spartan-Bold.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Spartan-ExtraBold";
  src: url(./fonts/Spartan/Spartan-ExtraBold.ttf);
  font-style: normal;
  font-weight: 900;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  overflow: hidden;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Spartan-Bold";
}

.wrap {
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
}

header .wrap {
  width: 100%;
  height: 100%;
  padding-left: 19%;
  padding-right: 19%;
}

header .wrap nav {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .wrap nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

header .wrap nav ul li {
  margin: 0;
}

header .wrap nav ul li a {
  display: block;
  color: black;
  font-size: 0.66em;
  letter-spacing: -1px;
}

header .wrap nav ul li:hover a {
  color: #f8db14;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

main .wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

main .wrap section {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

main .wrap section img {
  max-width: 100%;
  height: auto;
  display: block;
}

main .wrap section .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 19% 0 19%;
}

main .wrap section .container .arrow {
  width: 50px;
  margin: 10px;
  height: 50px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 2px solid white;
  cursor: pointer;
}

main .wrap section .container #left {
  top: 50%;
  transform: translateY(-50%);
  left: 2%;
}

main .wrap section .container #right {
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
}

main .wrap section .container #down {
  flex-direction: column;
  bottom: 5%;
  left: 50%;
  border: initial;
  width: auto;
  transform: translateX(-55%);
}

main .wrap section .container #down h5 {
  color: white;
  font-family: "Spartan-Bold";
  text-transform: uppercase;
  font-size: 0.7em;
  margin-bottom: 15px;
}

main .wrap section .container .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

main .wrap section .container .wrapper h1 {
  font-family: "Spartan-ExtraBold";
  text-transform: uppercase;
  line-height: 60px;
  font-size: 2.37em;
  color: white;
  width: 500px;
  margin: 20px;
}

main .wrap section .container .wrapper h1 span {
  display: block;
  color: #d8d8d8;
  font-size: 0.45em;
  line-height: initial;
}

main .wrap section .container .wrapper .buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
}

main .wrap section .container .wrapper .buttons a {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 0.8em;
}

main .wrap section .container .wrapper .buttons .button1 {
  width: 200px;
  height: 50px;
  background-color: #f8db14;
  margin: 10px;
}

main .wrap section .container .wrapper .buttons .button2 {
  width: 250px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 10px;
}
