@media screen and (min-device-width: 426px) and (max-device-width: 768px) {
    header .wrap {
        padding-left: 5%;
        padding-right: 5%;
    }
    header .wrap nav {
        display: none;
    }
    main .wrap .front {
        width: 100%;
        height: 500px;
        position: relative;
        overflow: hidden;
    }
    main .wrap .front>img {
        max-width: none;
        height: 100%;
        display: block;
        position: relative;
        top: 0;
        left: -30%;
    }
    main .wrap .front .container {
        padding: 0 12% 0 12%;
    }
    main .wrap .front .container .arrow {
        width: 35px;
        height: 35px;
    }
    main .wrap .front .container .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    main .wrap .front .container .wrapper h1 {
        margin-top: 30px;
        line-height: 50px;
        font-size: 2.5em;
        text-align: center;
        width: 100%;
    }
    main .wrap .front .container .wrapper h1 span {
        font-size: 0.6em;
        margin-bottom: 30px;
    }
    main .wrap .front .container .wrapper .buttons {
        margin-top: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    main .wrap .front .container .wrapper .buttons .button1 {
        width: 200px;
        font-size: 0.7em;
    }
    main .wrap .front .container .wrapper .buttons .button2 {
        width: 200px;
        font-size: 0.6em;
    }
    main .wrap .front .container #down h5 {
        font-size: 0.6em;
    }
    main .wrap .front .container #down h5 img {
        transform: translateX(-50%);
    }
}