@media screen and (min-device-width: 0px) and (max-device-width: 414px) {
    header .wrap {
        padding-left: 5%;
        padding-right: 5%;
    }
    header .wrap nav {
        display: none;
    }
}