@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    header .wrap {
        padding-left: 3%;
        padding-right: 3%;
    }
    main .wrap .front .container .wrapper {
        margin-bottom: 60px;
    }
}