@media screen and (min-device-width: 0px) and (max-device-width: 425px) {
    header .wrap {
        padding-left: 5%;
        padding-right: 5%;
    }
    header .wrap nav {
        display: none;
    }
    main .wrap section {
        width: 100%;
        height: 350px;
        position: relative;
    }
    main .wrap section>img {
        max-width: none;
        height: 100%;
        display: block;
        position: relative;
        top: 0;
        left: -80%;
    }
    main .wrap section .container {
        padding: 0 10px 0 10px;
        flex-direction: column;
    }
    main .wrap section .container .arrow {
        width: 35px;
        height: 35px;
    }
    main .wrap section .container #left {
        top: initial;
        bottom: -15px;
        left: 0;
    }
    main .wrap section .container #right {
        top: initial;
        bottom: -15px;
        right: 0;
    }
    main .wrap section .container .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    main .wrap section .container .wrapper h1 {
        margin-top: 30px;
        line-height: 30px;
        font-size: 1.5em;
        text-align: center;
        width: 100%;
    }
    main .wrap section .container .wrapper h1 span {
        font-size: 0.7em;
        margin-bottom: 7px;
    }
    main .wrap section .container .wrapper .buttons {
        margin-top: 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    main .wrap section .container .wrapper .buttons .button1 {
        width: 200px;
        font-size: 0.7em;
    }
    main .wrap section .container .wrapper .buttons .button2 {
        width: 200px;
        font-size: 0.6em;
    }
    main .wrap section .container #down h5 {
        font-size: 0.6em;
    }
    main .wrap section .container #down h5 img {
        transform: translateX(-50%);
    }
}